body {
  background-color: gainsboro;
  font-family: system-ui, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

h1, h2 {
  margin: 10px;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 325px;
  margin-bottom: 20px;
}

.sqr {
  width: 30%;
  aspect-ratio: 1/1;
  border: 3px solid black;
  font-size: 64px;
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}
